.container {
    position: absolute;
    top: 30%;
    left: 7%;
}

.container h1 {
    margin: 0;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 25px;
}

.container p {
    margin-left: 0.5em;
    max-width: 23em;
}

.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10em;
    margin-top: 3em;
    font-size: 20px;
    font-weight: 300;
    width: 12em;
    height: 2.2em;
    background: none;
    outline: none;
    box-shadow: none;
    border: 3px solid var(--base-color);
    border-radius: 1rem;
    cursor: pointer;
}

.signin img {
    width: 1.5em;
    margin-left: 0.8em;
}

.about {
    position: absolute;
    bottom: 0.2rem;
    right: 0.5rem;
    font-size: 15px;
    font-weight: 300;
}