<!DOCTYPE html>
<html>
    <head>
        <title>COSMOSTIC - Capes</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('dashboard.static', filename='cape.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <a href="{{ url_for('home.home') }}"><img class="logo" src="{{ url_for('static', filename='logo.svg') }}" alt="logo"></a>
            <div class="menu">
                <a href="{{ url_for('home.discord') }}">Discord</a>
                <a href="{{ url_for('dashboard.dashboard') }}">Dashboard</a>
                <a href="{{ url_for('home.docs') }}">Documentation</a>
            </div>
            <button class="menu-button material-symbols-outlined">menu</button>
            <button onclick="window.location.href = '{{ url_for('home.download') }}'"class="rainbow-button">DOWNLOAD CLIENT</button>
        </header>
        <div class="container">
            <h1>SELECT CAPE</h1>
            <div id="capes-container"><span id="loading" style="font-style: italic;">LOADING...</span></div>
        </div>
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@1" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
        <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
        <script defer type="module" src="{{ url_for('static', filename='common-utils.js') }}"></script>
        <script defer type="module" src="{{ url_for('dashboard.static', filename='cape.js') }}"></script>
    </body>
</html>